---
import "../../../../styles/global.css";
import { Icon } from "astro-icon";

interface Props {
  title: string;
}

const { title }: Props = Astro.props;
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link href="/feed.xml" type="application/rss+xml" />
    <link href="/feed.atom" type="application/rss+atom" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
  </head>
  <body>
    <slot />
    <footer>
      <a href="https://github.com/yashdiniz" target="_blank">
        <Icon name="mdi:github" style="height: 3rem" />
      </a>
      <a href="https://linkedin.com/in/yashdiniz" target="_blank">
        <Icon name="mdi:linkedin" style="height: 3rem" />
      </a>
      <a href="https://bio.link/yashdiniz" target="_blank">
        <Icon name="gg:link" style="height: 3rem" />
      </a>
    </footer>
    <script>
      function changeCss() {
        var footer = document.querySelector("footer");
        this.scrollY > 100
          ? (footer.style.opacity = 1)
          : (footer.style.opacity = 0);
      }
      window.addEventListener("scroll", changeCss, false);
    </script>
  </body>
</html>
