---
import "../../../../styles/global.css";
import { 
  FaBrandsGithub, 
  FaBrandsLinkedin, 
  FaSolidLink, 
  FaBrandsTelegram, 
  FaSolidCalendar, 
} from "solid-icons/fa";

interface Props {
  title?: string;
  description?: string;
  showFooter?: boolean;
}

const { title, description, showFooter }: Props = Astro.props;
---

<html lang="en">
  <head>
    <title>{title ? `${title} | Yash Diniz` : "Yash Diniz - Software Engineer"}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index follow" />
    <link rel="canonical" href={Astro.props.canonical || Astro.url.href} />
    <link href="/feed.xml" type="application/rss+xml" />
    <link href="/feed.atom" type="application/rss+atom" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta
      name="description"
      content={description ?? "Yash Diniz, a software engineer speaking mostly about software and cloud, along with everything else."}
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://yashdiniz.me" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title ? `${title} | Yash Diniz` : "Yash Diniz"} />
    <meta
      property="og:description"
      content={description ?? "Yash Diniz, a software engineer speaking mostly about software and cloud, along with everything else."}
    />
    <meta property="og:image" content="/logo.svg" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:domain" content="yashdiniz.me" />
    <meta property="twitter:url" content="https://yashdiniz.me" />
    <meta name="twitter:title" content="Yash Diniz" />
    <meta name="twitter:site" content="@yashdiniz" />
    <meta name="twitter:creator" content="@yashdiniz" />
    <meta
      name="twitter:description"
      content={description ?? "Yash Diniz, a software engineer speaking mostly about software and cloud, along with everything else."}
    />
    <meta name="twitter:image" content="/logo.svg" />
    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-F6YFRJMM2R"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6YFRJMM2R');
    </script>
  </head>
  <body>
    <slot />
    {
      showFooter && (
        <footer>
          <div id="float" class="bubble">
            <a href="https://t.me/yashdiniz" target="_blank">
              <FaBrandsTelegram size={"3rem"} />
            </a>
            <a href="https://github.com/yashdiniz" target="_blank">
              <FaBrandsGithub size={"3rem"} />
            </a>
            <a href="https://linkedin.com/in/yashdiniz" target="_blank">
              <FaBrandsLinkedin size={"3rem"} />
            </a>
            <a href="https://cal.com/yashdiniz" target="_blank">
              <FaSolidCalendar size={"2.7rem"} />
            </a>
            <!-- <a href="https://calendar.app.google/CTEwTLRJKugcq4e1A" target="_blank"> -->
            <!--   <FaSolidCalendar size={"2.7rem"} /> -->
            <!-- </a> -->
            <a href="https://bio.link/yashdiniz" target="_blank">
              <FaSolidLink size={"3rem"} />
            </a>
          </div>
        </footer>
      )
    }
    <script type="text/partytown">
      function changeCss() {
        // https://stackoverflow.com/questions/1769584/get-position-of-element-by-javascript
        var hero = document.querySelector("#hero")?.getBoundingClientRect();
        var footer = document.querySelector("footer #float");
        if (!(hero && footer)) {
          return
        }
        window.innerHeight - hero.bottom > 125
          ? (footer.style.display = "flex")
          : (footer.style.display = "none");
      }
      changeCss();
      window.addEventListener("scroll", changeCss, false);
      window.addEventListener("resize", changeCss, false);
    </script>
  </body>
</html>
