---
import "../../../../styles/global.css";
import { FaBrandsGithub, FaBrandsLinkedin, FaSolidLink } from "solid-icons/fa";

interface Props {
  title: string;
  showFooter?: boolean;
}

const { title, showFooter }: Props = Astro.props;
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link href="/feed.xml" type="application/rss+xml" />
    <link href="/feed.atom" type="application/rss+atom" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta
      name="description"
      content="Yash Diniz, speaking mostly about software and systems architecture, along with everything else."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://yashdiniz.me" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Yash Diniz" />
    <meta
      property="og:description"
      content="Yash Diniz, a software engineer speaking mostly about software and systems architecture, along with everything else."
    />
    <meta property="og:image" content="/logo.svg" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="yashdiniz.me" />
    <meta property="twitter:url" content="https://yashdiniz.me" />
    <meta name="twitter:title" content="Yash Diniz" />
    <meta
      name="twitter:description"
      content="Yash Diniz, a software engineer speaking mostly about software and systems architecture, along with everything else."
    />
    <meta name="twitter:image" content="/logo.svg" />
  </head>
  <body>
    <slot />
    {
      showFooter && (
        <footer>
          <div id="float" class="bubble">
            <a href="https://github.com/yashdiniz" target="_blank">
              <FaBrandsGithub size={"3rem"} />
            </a>
            <a href="https://linkedin.com/in/yashdiniz" target="_blank">
              <FaBrandsLinkedin size={"3rem"} />
            </a>
            <a href="https://bio.link/yashdiniz" target="_blank">
              <FaSolidLink size={"3rem"} />
            </a>
          </div>
        </footer>
      )
    }
    <script>
      function changeCss(e) {
        // https://stackoverflow.com/questions/1769584/get-position-of-element-by-javascript
        var hero = document.querySelector("#hero").getBoundingClientRect();
        var footer = document.querySelector("footer #float");
        window.innerHeight - hero.bottom > 125
          ? (footer.style.display = "flex")
          : (footer.style.display = "none");
      }
      changeCss();
      window.addEventListener("scroll", changeCss, false);
      window.addEventListener("resize", changeCss, false);
    </script>
  </body>
</html>
