html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #0f0f0f;
  scroll-behavior: smooth;
  font-family: 'Fira Code', monospace;
  color: #c4c4c5;
  line-height: 1.5;
}

footer #float {
  margin: 0.5em 1.25em;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.5em;
  color: #aaa;
}

footer .bubble {
  display: none;
  float: right;
  position: fixed;
  bottom: 0;
  right: 0;
}

a {
  display: inline-flex;
  color: #0c0;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  display: inline-flex;
  color: #aee;
  text-shadow: 0 0 5px #aee;
}

@media (max-width: 768px) {
  footer #float {
    display: flex;
    margin: 1em 0.5em;
    font-size: 0.8em;
    position: relative;
    width: 96vw;
    bottom: 0;
    float: none;
  }
}
