---
import colors from "../colors.tsx";
import TermHeader from "../../core/term/TermHeader";

interface Props {
  style?: any;
  command?: string;
}
const { style, command }: Props = Astro.props;
let cmd = command || "wget";
---

<div class="termbox" style={style}>
  <div class="title noselect">
    <span>Terminal</span>
  </div>
  <div class="fieldset">
    <TermHeader command={cmd} client:only />
    <slot />
    <caret></caret>
  </div>
</div>

<style
  define:vars={{
    black: colors.black,
    green: colors.green,
    white: colors.white,
  }}
>
  .fieldset {
    flex: 1;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid gray;
    border-top: none;
    font-size: 1em;
  }
  .termbox .title {
    width: 100%;
    border-bottom: 2px solid gray;
    line-height: 0.25em;
    margin-top: 10px;
  }
  .termbox .title span {
    background: var(--black);
    color: var(--green);
    font-weight: bold;
  }
  .noselect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  .termbox {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid gray;
    box-shadow: 0 0 10px gray;
    cursor: default;
  }
  /* emulating https://developer.mozilla.org/en-US/docs/Web/CSS/caret-color */
  caret {
    color: var(--white);
    content: " ";
    animation: caretanim 0.4s infinite;
  }
  @keyframes caretanim {
    from {
      border-left: 0.6rem solid transparent;
    }
    to {
      border-left: 0.6rem solid white;
    }
  }
</style>
