---
import TermHeader from "./TermHeader";
---

<div class="centering">
  <div class="termbox">
    <fieldset>
      <legend>Terminal</legend>
      <div
        style={{
          height: "1.5em",
        }}
      >
        <TermHeader command="cd" client:only />
      </div>
      <slot />
      <cursor></cursor>
    </fieldset>
  </div>
</div>

<style>
  .centering {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  fieldset {
    padding: 20px;
    border: 2px solid white;
    flex: 1;
  }
  legend {
    font-size: 1em;
    font-weight: bold;
    color: #0f0;
    padding: 0 5px;
  }
  .termbox {
    flex: 1;
    display: flex;
    margin: 50px auto;
    padding: 5px;
    max-width: 700px;
    min-height: 300px;
    border: 1px solid gray;
    box-shadow: 0 0 10px gray;
  }
  cursor {
    font-size: 1em;
    color: #fff;
    animation: cursoranim 0.4s infinite;
  }
  @keyframes cursoranim {
    from {
      border-right: 10px solid transparent;
    }
    to {
      border-right: 10px solid white;
    }
  }
</style>
