---
import BaseLayout from "../components/shared/layouts/base/BaseLayout.astro";
import TermBox from "../components/shared/TermBox/TermBox.astro";
import TermLink from "../components/core/term/TermLink.astro";
---

<BaseLayout>
	<TermBox>
		<h1>HTTP/1.1 404 Not Found</h1>
		<p>The page you requested for does not exist.</p>
		<TermLink href="/" text="Go back home" />
	</TermBox>
</BaseLayout>
<style>
	h1 {
		text-align: center;
		font-size: 1em;
		margin: 0px auto;
		padding: 1em;
		line-height: 0.5;
		border: 1px solid gray;
	}
	section {
		font-size: 1em;
	}
</style>
