---
import Base from "../components/shared/layouts/base/BaseLayout.astro";
// import * as greatPost from './posts/great-post.md';
const posts = Object.values(import.meta.glob("./posts/*.md", { eager: true }));
---
<Base>
  <!-- <p>{greatPost.frontmatter.title}</p> --><!-- <p>Written by: {greatPost.frontmatter.author}</p> -->
  <p>Post Archive:</p>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Base>
