---
import colors from "../components/shared/colors.tsx";
import Base from "../components/shared/layouts/base/BaseLayout.astro";
import AsciiSvg from "../components/core/term/TermAsciiSvg.astro";
import Termlink from "../components/core/term/TermLink.astro";
import Termbox from "../components/shared/TermBox/TermBox.astro";
import Yash from "../assets/asciiface.tsx";
import {
  FaBrandsGithub,
  FaBrandsLinkedin,
  FaSolidLink,
  FaBrandsTelegram,
  FaSolidCalendar,
} from "solid-icons/fa";
---

<Base title="Yash Diniz" showFooter>
  <div style="margin: 20px 20px 40px 20px;">
    <Termbox command="neofetch whoami --source ascii.txt ">
      <div id="hero">
        <!-- Mugshot to asciiart credits: asciiart.eu -->
        <AsciiSvg text={Yash} height="100%" animate />
        <div>
          <h1>Yash Diniz</h1>
          <p>👨‍💻 Software Engineering</p>
          <p>
            Freelancing and job-hunting.
            <!-- <Termlink -->
            <!--   href="https://velocilabs.com" -->
            <!--   text="Velocilabs⚡" -->
            <!-- />. -->
          </p>
          <p>🌏📍Goa, India</p>
          <p>Connect with me!</p>
          <p>
            <a href="https://t.me/yashdiniz" target="_blank">
              <FaBrandsTelegram size={"2rem"} />
            </a>&nbsp;
            <a href="https://github.com/yashdiniz" target="_blank">
              <FaBrandsGithub size={"2rem"} />
            </a>&nbsp;
            <a href="https://linkedin.com/in/yashdiniz" target="_blank">
              <FaBrandsLinkedin size={"2rem"} />
            </a>&nbsp;
            <a href="https://cal.com/yashdiniz" target="_blank">
              <FaSolidCalendar size={"1.8rem"} />
            </a>&nbsp;
            <!-- <a href="https://calendar.app.google/CTEwTLRJKugcq4e1A" target="_blank"> -->
            <!--   <FaSolidCalendar size={"1.8rem"} /> -->
            <!-- </a>&nbsp; -->
            <a href="https://bio.link/yashdiniz" target="_blank">
              <FaSolidLink size={"2rem"} />
            </a>
          </p>
        </div>
      </div>
      <Termlink href="#about" text="Scroll down…" animate />
    </Termbox>
  </div>
  <div style="margin: 80px auto; padding: 10px; max-width: 768px;" id="about">
    <h2>About Me</h2>
    <p>
      Driven by my desire to solve world problems (and my problems), my passion for software 
      and engineering. I tinker mainly in Go and NodeJS.
    </p>
    <p>
      At my first job I worked closely with experienced engineers from Nokia. I was 
      responsible for maintaining and improving their core backend infrastructure, 
      written in Go. My efforts resulted in a reduction in 5xx error codes and a 
      33% decrease in customer complaints.
    </p>
    <p>
      As a freelancer, I've successfully built and delivered multiple projects for national 
      and international clients, honing my full-stack development skills with a strong emphasis 
      on backend engineering. I have a solid foundation in Node.js, Go, and Next.js, and I'm 
      proficient in designing and building scalable APIs using GraphQL, REST, and tRPC. I'm 
      a quick learner with a strong problem-solving ability and a track record of delivering 
      high-quality software. I'm eager to contribute my skills to a challenging SDE2 role 
      where I can contribute to the design, development, and deployment of software products.
    </p>
    <p>
      When it comes to building and designing microservices, I'm relentless about
      reducing vendor lock-in while offering simplicity, maintainability, 
      and performance. I'm a strong advocate of DRY principles and design patterns, 
      ensuring my code is secure, well-documented, and maintainable.
    </p>
    <p>
      I'm constantly learning and exploring new stuff to improve my craft and
      contribute to a better future.
    </p>
    <p>
      In addition to my professional endeavors, I have also been an independent
      researcher. Collaborating with <a
        href="https://en.wikipedia.org/wiki/National_Institute_of_Technology_Goa"
        >NIT Goa</a
      >, we delved into the design, analysis, and applications of ternary logic
      gates. It's published on <a
        href="https://www.researchgate.net/profile/Yash-Diniz-2">ResearchGate</a
      >.
    </p>
    <p>
      Connect with me on <a href="https://t.me/yashdiniz">Telegram</a> or <a
        href="https://linkedin.com/in/yashdiniz">LinkedIn</a
      >.
      <quote
        >While I appreciate your interest in connecting, I care about your privacy
        and currently limit email contact. Please connect through the channels
        listed above.</quote
      >
    </p>
    <h2>Caveats</h2>
    <p>
      I am addicted to learning and continuously discovering new things, and I
      love the thrill and joy of building new applications. I tend to choose 
      this sometimes over food, sleep, and even hygiene.
    </p>
    <p>
      I do have difficulty delegating tasks. I need to get to know you well before 
      I can work with you, so I guess that's a good thing?
    </p>
    <p>
      I normally tend to over-explain and provide detailed and descriptive
      answers for any question asked. Friends used to call me a college
      professor who explained stuff really well ;) Being brief is something I've
      been working on.
    </p>
  </div>
  <style define:vars={{ yellow: colors.yellow }}>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--yellow);
    }
    #hero {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      height: 75vh;
      padding-bottom: 20px;
    }
    @media (max-width: 768px) {
      #hero {
        flex-direction: column;
        height: 100%;
      }
    }
  </style>
</Base>
