---
import colors from "../components/shared/colors.tsx";
import Base from "../components/shared/layouts/base/BaseLayout.astro";
import AsciiSvg from "../components/core/term/TermAsciiSvg.astro";
import Termlink from "../components/core/term/TermLink.astro";
import Termbox from "../components/shared/TermBox/TermBox.astro";
import Yash from "../assets/asciiface.tsx";
import {
  FaBrandsGithub,
  FaBrandsLinkedin,
  FaSolidLink,
  FaBrandsTelegram,
} from "solid-icons/fa";
---

<Base title="Yash Diniz" showFooter>
  <div style="margin: 20px 20px 40px 20px;">
    <Termbox command="neofetch whoami --source ascii.txt ">
      <div id="hero">
        <!-- Mugshot to asciiart credits: asciiart.eu -->
        <AsciiSvg text={Yash} height="100%" animate />
        <div>
          <h1>Yash Diniz</h1>
          <p>👨‍💻 Software & Cloud</p>
          <p>
            Tech Lead at <Termlink
              href="https://velocilabs.com"
              text="Velocilabs⚡"
            />.
          </p>
          <p>🌏📍Goa, India</p>
          <p>Connect with me!</p>
          <p>
            <a href="https://t.me/yashdiniz" target="_blank">
              <FaBrandsTelegram size={"2rem"} />
            </a>&nbsp;
            <a href="https://github.com/yashdiniz" target="_blank">
              <FaBrandsGithub size={"2rem"} />
            </a>&nbsp;
            <a href="https://linkedin.com/in/yashdiniz" target="_blank">
              <FaBrandsLinkedin size={"2rem"} />
            </a>&nbsp;
            <a href="https://bio.link/yashdiniz" target="_blank">
              <FaSolidLink size={"2rem"} />
            </a>
          </p>
        </div>
      </div>
      <Termlink href="#about" text="Scroll down…" animate />
    </Termbox>
  </div>
  <div style="margin: 80px auto; padding: 10px; max-width: 768px;" id="about">
    <h2>About Me</h2>
    <p>
      Driven by my desire to solve world problems (and my problems) through
      technology, I leverage my passion for software, engineering, and systems
      architecture. I tinker mainly in Go and NodeJS, and I'm also Tech Lead at
      Team Velocilabs, creators of Spyke Social and other products.
    </p>
    <p>
      My expertise lies in building and designing microservices deployed using
      <a href="https://en.wikipedia.org/wiki/Cloud-native_computing"
        >cloud-native solutions</a
      > (like Docker & Kubernetes), with a relentless focus on reducing vendor
      lock-in while offering simplicity, maintainability, and performance. I'm a
      strong advocate of DRY principles and design patterns, ensuring my code is
      secure, well-documented, and easy to understand.
    </p>
    <p>
      Beyond my coding skills, I have a deep interest in systems design, machine
      intelligence, IoT, and data engineering. I'm constantly learning and
      exploring new technologies and methodologies to improve my craft and
      contribute to a better future.
    </p>
    <p>
      Connect with me on <a href="https://t.me/yashdiniz">Telegram</a> or <a
        href="https://linkedin.com/in/yashdiniz">LinkedIn</a
      >.
      <quote
        >While I appreciate your interest in connecting, I value your privacy
        and currently limit email contact. Please connect through the channels
        listed above.</quote
      >
    </p>
    <h2>Caveats</h2>
    <p>
      I am addicted to learning and continuously discovering new things, and I
      love to experience the thrill and joy of building new applications. I tend
      to choose this sometimes over food, sleep, and even hygiene. Recently
      discovered energy management, and that really vibed with the way I
      operate, maybe it's better than time management?
    </p>
    <p>
      I do have difficulty delegating tasks, been working on building trust and
      collaboration. I need to get to know you well before I can collaborate
      with you, so I guess that's a good thing?
    </p>
    <p>
      I normally tend to over-explain and provide detailed and descriptive
      answers for any question asked. Friends used to call me a college
      professor who explained stuff really well ;) Being brief is something I've
      been working on.
    </p>
  </div>
  <style define:vars={{ yellow: colors.yellow }}>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--yellow);
    }
    #hero {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      height: 75vh;
      padding-bottom: 20px;
    }
    @media (max-width: 768px) {
      #hero {
        flex-direction: column;
        height: 100%;
      }
    }
  </style>
</Base>
